---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Michael Dijkstra can't find this page!"
  logo="true"
  bodyClass="bg-torch text-white font-sans"
>
  <div class="space-y-24 py-24 px-6 flex justify-center items-center">
    <div
      class="max-w-6xl text-9xl leading-relaxed mx-auto space-y-6 text-center"
    >
      <h2>Page<br />not<br />found</h2>
    </div>
  </div>
</BaseLayout>

<style>
  :root {
    --nav-rgb: 252, 12, 27;
  }
</style>
