---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Michael Dijkstra's Secret Archive - Product Designer and Software Developer"
  logo="true"
  bodyClass="bg-torch text-white font-sans"
>
  <div class="space-y-24 py-24 px-6">
    <div class="max-w-6xl text-9xl leading-24 mx-auto space-y-6 text-center">
      <h1 class="text-6xl lg:text-8xl leading-16 lg:leading-24">Archive</h1>
    </div>

    <div class="max-w-6xl mx-auto">
      <div class="space-y-24">
        <div class="iframe-wrapper">
          <iframe
            src="https://micdijkstra.github.io/Booby/"
            allowfullscreen=""
            loading="lazy"></iframe>
        </div>

        <div class="iframe-wrapper">
          <iframe
            src="https://micdijkstra.github.io/franke-emoji/"
            allowfullscreen=""
            loading="lazy"></iframe>
        </div>

        <div class="iframe-wrapper">
          <iframe
            src="https://micdijkstra.github.io/keep-smiling-web/"
            allowfullscreen=""
            loading="lazy"></iframe>
        </div>

        <div class="iframe-wrapper video">
          <iframe
            src="https://player.vimeo.com/video/164954943?autoplay=1"
            allowfullscreen=""
            loading="lazy"></iframe>
        </div>

        <div class="iframe-wrapper video">
          <iframe
            src="https://player.vimeo.com/video/75466823?h=a5d6711124?autoplay=1"
            allowfullscreen=""
            loading="lazy"></iframe>
        </div>

        <div class="iframe-wrapper video">
          <iframe
            src="https://player.vimeo.com/video/76003931?autoplay=1&loop=1?autoplay=1"
            allowfullscreen=""
            loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  :root {
    --nav-rgb: 252, 12, 27;
  }
</style>
