---
import LinkList, { type Link } from "../components/LinkList.astro";
import Lockup from "../components/Lockup.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const LINKS: Link[] = [
  {
    title: "@mikedijkstra",
    url: "https://github.com/mikedijkstra",
    description: "On GitHub",
  },
  {
    title: "mikedijkstra",
    url: "https://linkedin.com/in/mikedijkstra",
    description: "On LinkedIn",
  },
];
---

<BaseLayout
  pageTitle="Contact Michael Dijkstra - Let's work together!"
  pageDescription="Contact Michael Dijkstra for your next project."
  logo="true"
  bodyClass="bg-torch text-white font-sans"
>
  <div class="space-y-12 py-24 px-6">
    <Lockup
      title="Get in touch"
      subtitle="Let's work together to build something great."
      intro="Whether you need product strategy, development support, or just some advice, feel free to reach out. I'm happy to chat and explore how we can work together."
    />

    <div class="max-w-4xl mx-auto">
      <form method="POST" id="form">
        <input
          type="hidden"
          name="access_key"
          value="acaa3a8b-78cf-4015-bb0c-5a5d789791da"
        />

        <div class="space-y-6 max-w-6xl mx-auto p-3">
          <div class="space-y-2">
            <label for="name" class="text-2xl block">What is your name?</label>
            <input
              type="text"
              name="name"
              required
              class="p-3 border-2 border-white w-full text-2xl"
              placeholder="Your name"
            />
          </div>
          <div class="space-y-2">
            <label for="name" class="text-2xl block">What is your email?</label>
            <input
              type="email"
              name="email"
              required
              class="p-3 border-2 border-white w-full text-2xl"
              placeholder="Your email"
            />
          </div>
          <div class="space-y-2">
            <label for="name" class="text-2xl block"
              >What would you like to discuss?</label
            >
            <textarea
              name="message"
              required
              class="p-3 border-2 border-white w-full text-2xl"
              rows="6"></textarea>
          </div>
          <button
            id="submit"
            type="submit"
            class="border-2 border-white p-3 text-2xl hover:bg-white hover:text-torch cursor-pointer"
            >Submit Form</button
          >
          <div id="result" class="text-2xl"></div>
        </div>
      </form>
    </div>

    <div class="space-y-6">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl">
          <span class="-ml-1 pr-4">🕵️</span> You can also find me
        </h2>
      </div>

      <LinkList links={LINKS} />
    </div>
  </div>

  <style>
    :root {
      --nav-rgb: 252, 12, 27;
    }
  </style>
</BaseLayout>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");
  const submit = document.getElementById("submit");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    submit.style.display = "none";
    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
          submit.style.display = "block";
        }, 3000);
      });
  });
</script>
