---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Contact Michael Dijkstra - Product Designer and Software Developer"
  pageDescription="Contact Michael Dijkstra for your next project. Product Designer and Software Developer based in Sydney, Australia."
  logo="true"
  bodyClass="bg-torch text-white font-sans"
>
  <div class="space-y-24 py-24 px-6">
    <div class="max-w-6xl text-9xl leading-24 mx-auto space-y-6 text-center">
      <h1 class="text-6xl lg:text-8xl leading-16 lg:leading-24">
        Get in touch
      </h1>
    </div>

    <form method="POST" id="form">
      <input
        type="hidden"
        name="access_key"
        value="acaa3a8b-78cf-4015-bb0c-5a5d789791da"
      />

      <div class="space-y-6 max-w-6xl mx-auto p-3">
        <div class="space-y-2">
          <label for="name" class="text-2xl block">What is your name?</label>
          <input
            type="text"
            name="name"
            required
            class="p-3 border-2 border-white w-full text-2xl"
            placeholder="Your name"
          />
        </div>
        <div class="space-y-2">
          <label for="name" class="text-2xl block">What is your email?</label>
          <input
            type="email"
            name="email"
            required
            class="p-3 border-2 border-white w-full text-2xl"
            placeholder="Your email"
          />
        </div>
        <div class="space-y-2">
          <label for="name" class="text-2xl block"
            >What would you like to discuss?</label
          >
          <textarea
            name="message"
            required
            class="p-3 border-2 border-white w-full text-2xl"
            rows="6"></textarea>
        </div>
        <button
          id="submit"
          type="submit"
          class="border-2 border-white p-3 text-2xl hover:bg-white hover:text-torch cursor-pointer"
          >Submit Form</button
        >
        <div id="result" class="text-2xl"></div>
      </div>
    </form>
  </div>

  <style>
    :root {
      --nav-rgb: 252, 12, 27;
    }
  </style>
</BaseLayout>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");
  const submit = document.getElementById("submit");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    submit.style.display = "none";
    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
          submit.style.display = "block";
        }, 3000);
      });
  });
</script>
