---
const { title, subtitle, intro } = Astro.props;
---

<div class="space-y-8 sm:space-y-12">
  <div class="max-w-6xl text-9xl leading-24 mx-auto space-y-12 text-center">
    <h1
      class="text-4xl sm:text-6xl lg:text-8xl leading-12 md:leading-16 lg:leading-24"
    >
      {title}
    </h1>
    <h2 class="text-2xl sm:text-3xl">{subtitle}</h2>
  </div>

  <div class="max-w-4xl mx-auto">
    <p class="text-xl sm:text-2xl">{intro}</p>
  </div>
</div>
