---
import LinkList from "./LinkList.astro";

type Link = {
  url: string;
  title: string;
  description: string;
};

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="space-y-6">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-4xl">
      <span class="-ml-1 pr-4">👇</span> Up next
    </h2>
  </div>

  <LinkList
    links={[
      ...links,
      {
        url: "/contact",
        title: "Contact",
        description: "Have a project to discuss? Get in touch.",
      },
    ]}
  />
</div>
