---
import LinkList from "../../components/LinkList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Franke by Mike Dijkstra"
  pageDescription="Franke by Michael Dijkstra"
  logo="true"
  bodyClass="bg-[#d3346e] text-white font-sans"
>
  <div class="space-y-24 py-24 px-6">
    <div class="max-w-6xl text-9xl leading-24 mx-auto space-y-12 text-center">
      <h1 class="text-6xl lg:text-8xl leading-16 lg:leading-24">Franke</h1>

      <div class="w-full border-white/80 p-6">
        <div class="iframe-wrapper">
          <iframe
            src="https://micdijkstra.github.io/franke-emoji/"
            allowfullscreen=""
            loading="lazy"></iframe>
        </div>
        <figcaption class="text-2xl mt-3">
          a. Franke homepage animation (with and without Franke)
        </figcaption>
      </div>
    </div>

    <div class="max-w-6xl mx-auto grid lg:grid-cols-12 gap-12">
      <div class="md:col-span-8 space-y-24">
        <div class="space-y-6">
          <h2 class="text-3xl">Sorting emails into Slack</h2>
          <p class="text-2xl">
            Franke was a company I co-founded with
            <a href="http://jacobheftmann.com/" class="link">Jacob Heftmann</a> and
            <a href="http://www.thankseverybody.com/" class="link"
              >Jake Hobart</a
            >
            which sorted emails into Slack channels.
          </p>

          <p class="text-2xl">
            Built on Ruby on Rails, Franke took incoming emails which were
            linked to Slack accounts and posted them into the correct channel.
          </p>

          <p class="text-2xl">
            Franke was featured on Product Hunt and was one of the very first
            products to implement "Sign in with Slack".
          </p>

          <p class="text-2xl">
            Franke had moderate success and a number of paying customers,
            however when Slack released their own email integration, Franke was
            shut down.
          </p>
        </div>
      </div>

      <div class="md:col-span-4 space-y-6 md:sticky">
        <dl class="grid grid-cols-4 text-2xl">
          <dt class="col-span-1">Scope</dt>
          <dd class="col-span-3">
            <ul class="list-none">
              <li>Software Development</li>
              <li>Product Management</li>
            </ul>
          </dd>
        </dl>

        <dl class="grid grid-cols-4 text-2xl">
          <dt class="col-span-1">Tech</dt>
          <dd class="col-span-3">
            <ul class="list-none">
              <li>Ruby on Rails</li>
              <li>Slack</li>
              <li>Stripe</li>
              <li>Heroku</li>
              <li>Rspec</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>

    <div class="space-y-6">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl">
          <span class="-ml-1 pr-4">👇</span> Up next
        </h2>
      </div>

      <LinkList
        links={[
          {
            url: "/work/small-victories",
            title: "Small Victories",
            description: "View case study",
          },
          {
            url: "/work",
            title: "Work",
            description: "See my full project list and work history.",
          },
          {
            url: "/contact",
            title: "Contact",
            description: "Have a project to discuss? Get in touch.",
          },
        ]}
      />
    </div>
  </div>
</BaseLayout>

<style>
  :root {
    --nav-rgb: 211, 52, 110;
  }
</style>
