---
import ArrowRight from "../../components/ArrowRight.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const WORK = [
  {
    title: "Climate Salad",
    description:
      "Product and Platform developer leading the design and build of a new member and data platform.",
    tags: ["React", "Remix", "TypeScript", "AWS", "Stripe", "Airtable"],
    caseStudy: "/work/climate-salad",
    type: "platform",
  },
  {
    title: "Alta",
    description:
      "Platform developer for all web and desktop front-ends for a VR game studio.",
    tags: [
      "React",
      "Remix",
      "TypeScript",
      "Electron",
      "Vercel",
      "Xsolla",
      "Strapi",
      "GitHub Actions",
      "Cypress",
      "Vitest",
      "SES",
    ],
    caseStudy: "/work/a-township-tale",
  },
  {
    title: "Small Victories",
    description:
      "Co-Founder and CTO of a SaaS platform that allowed users to create websites from Dropbox folders.",
    tags: [
      "Ruby on Rails",
      "Postgres",
      "AWS",
      "Heroku",
      "Dropbox",
      "Stripe",
      "Mandrill",
    ],
    caseStudy: "/work/small-victories",
  },
  {
    title: "Wise",
    description:
      "Co-Founder and CTO of a SaaS and mobile applications that made it easy for teams to share reading lists.",
    tags: [
      "Ruby on Rails",
      "Rspec",
      "Ember",
      "Postgres",
      "Swift",
      "Python",
      "Mandrill",
    ],
    caseStudy: "/work/wise",
  },
  {
    title: "Q-CTRL",
    description:
      "Head of Product and lead Front-end Engineer on new Black Opal platform. Built with React and Firebase.",
    tags: ["React", "Node.JS", "Firebase", "Jest", "Stripe"],
    caseStudy: "/work/q-ctrl",
  },
  {
    title: "Dr Verinder Sidhu",
    description:
      "Design and development of a new website for orthopaedic surgeon Dr Verinder Sidhu.",
    tags: ["React", "Next.JS", "TypeScript", "Vercel"],
    link: "https://www.sidhuorthopaedics.com/",
  },
  {
    title: "Franke",
    description:
      "Co-Founder and CTO of a SaaS application that allowed users to send emails directly into Slack channels.",
    tags: [
      "Ruby on Rails",
      "Slack",
      "Postgres",
      "Stripe",
      "Heroku",
      "Rspec",
      "Mandrill",
    ],
    caseStudy: "/work/franke",
  },
  {
    title: "Play Together",
    description:
      "Design and development for a web application to keep public playlists on Spotify clean.",
    tags: ["Remix", "TypeScript", "Supabase", "GitHub Actions"],
    type: "Application",
    link: "https://playtogether.dijkstra.com.au",
  },
  {
    title: "Omnistra",
    description:
      "Design and development of a project management tool that uses AI. Currently in development.",
    caseStudy: "/work/omnistra",
    type: "Application",
  },
  {
    title: "Calibre",
    description:
      "Platform Developer for an automated website site speed performance testing title.",
    tags: [
      "Ruby on Rails",
      "Rspec",
      "Postgres",
      "React",
      "TypeScript",
      "Heroku",
      "AWS",
      "Stripe",
      "Terraform",
      "Next.JS",
      "GitHub Actions",
    ],
  },
  {
    title: "Holly Stevenson",
    description: "Development of Holly's portfolio website, designed by Holly.",
    tags: ["Wordpress", "PHP", "MySQL"],
    link: "https://hollystevenson.com/",
  },
  {
    title: "Spot Parking",
    description:
      "User Experience and visual design with subsequent development of map interface.",
    tags: ["JavaScript"],
  },
  {
    title: "Dr Bill Bye",
    role: "Freelance",
    description: "Website design and development.",
    tags: ["Next.JS", "Vercel", "MapBox"],
  },
  {
    title: "Rough Trade",
    role: "Freelance",
    description:
      "Software development for new features for a record store ecommerce application",
    tags: ["Ruby on Rails", "Postgres", "Stripe", "Rspec"],
  },
  {
    title: "BuzzFeed",
    role: "Freelance",
    description:
      "Software development for an internal branding guidelines website.",
    tags: ["React", "Siteleaf", "GitHub Pages"],
  },
  {
    title: "Wevther",
    role: "Collaboration",
    description:
      "A collaboration with Jacob and Jack for a web and mobile application to show you good products for today's weather",
    tags: ["Ruby on Rails", "Postgres", "Rubymotion", "Ember.JS"],
  },
  {
    title: "Eye on Design",
    role: "Freelance",
    description: "Wordpress website development.",
    tags: ["Wordpress", "PHP", "MySQL"],
  },
  {
    title: "Storq",
    role: "Freelance",
    description: "Software developer for an Shopify e-commerce store.",
    tags: ["Shopify", "Liquid"],
  },
  {
    title: "SerialBox",
    role: "Freelance",
    description:
      "Platform and iOS development for a digital and audio book subscription service.",
    tags: ["Ruby on Rails", "Postgres", "Swift (iOS)", "Python", "Stripe"],
  },
  {
    title: "Wade Jeffree",
    role: "Freelance",
    description: "Website development.",
  },
  {
    title: "Le-Turtle",
    role: "Freelance",
    description: "Website development.",
  },
  {
    title: "Antfood",
    role: "Freelance",
    description: "Website development.",
  },
  {
    title: "Baggu",
    role: "Freelance",
    description: "Software developer for an Shopify e-commerce store.",
  },
  {
    title: "AYR",
    role: "Freelance",
    description: "Software developer for an Shopify e-commerce store.",
  },
  {
    title: "Kidtech",
    role: "Freelance",
    description: "Website development.",
  },
  {
    title: "Aida",
    role: "Freelance",
    description: "Software developer for an Shopify e-commerce store.",
  },
  {
    title: "Pharrell / i am OTHER",
    role: "Freelance",
    description: "Custom email development.",
  },
  {
    title: "Grilli Type",
    role: "Freelance",
    description: "Website and custom email development.",
  },
  {
    title: "Greenhouse",
    role: "Freelance",
    description: "Hubspot website development.",
  },
  {
    title: "Booby",
    description:
      "Software developer on a collaboration with Wade Jeffrey for a fun interactive site.",
  },
  {
    title: "Keep Smiling",
    role: "Collaboration",
    description:
      "Software Developer for an iOS game where you have to keep smiling!",
  },
  {
    title: "PWC Australia",
    role: "Head of Product",
    description: "Head of Product for the Digital Ventures department.",
  },
  {
    title: "Wooboard",
    description:
      "Product Manager for a gamified employee recognition platform that helps companies build a culture of appreciation.",
  },
  {
    title: "Pygg",
    description:
      "Product Manager for a service that allowed users to make payments via Twitter.",
  },
  {
    title: "Storyberg",
    description:
      "Co-founder of a Lean Product Management startup (accepted into Startmate).",
  },
  {
    title: "Ninety9 Bottles",
    role: "Co-founder",
    description: "Co-founder of an online wine store.",
  },
];
---

<BaseLayout
  pageTitle="Michael Dijkstra's Work - Product Designer and Full Stack Developer"
  pageDescription="Michael Dijkstra's Work. Product Designer and Full Stack Developer based in Sydney, Australia."
  logo="true"
  bodyClass="bg-eerie text-white font-sans"
>
  <div class="space-y-24 py-24 px-6">
    <div
      class="max-w-6xl text-6xl lg:text-8xl leading-16 lg:leading-24 mx-auto space-y-6 text-center"
    >
      <h1>
        I have worked on digital products with companies all over the world.
      </h1>
    </div>

    <div class="max-w-7xl mx-auto">
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          WORK.map(({ title, description, tags, caseStudy, link, type }) => {
            const Wrapper = caseStudy || link ? "a" : "div";

            return (
              <div>
                <Wrapper
                  class="relative block bg-body-highlight group-hover:bg-body-highlight-focus bg-blur-10 rounded-xl flex-1 p-6 transition-colors group duration-300 ease-out space-y-4"
                  href={caseStudy || link}
                >
                  {caseStudy || link ? (
                    <div class="absolute right-6 group-hover:right-4 w-6 top-8 sm:-translate-y-1/2 duration-300 ease-out">
                      <ArrowRight />
                    </div>
                  ) : null}
                  <div class="space-y-3">
                    <h2 class="text-3xl">{title}</h2>
                    <p class="text-xl">{description}</p>
                    {tags ? (
                      <div class="flex flex-wrap gap-2 mt-4">
                        {tags.map((tag) => {
                          return (
                            <span class="text-sm whitespace-nowrap">{tag}</span>
                          );
                        })}
                      </div>
                    ) : null}
                  </div>
                </Wrapper>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  :root {
    --nav-rgb: 35, 31, 22;
  }
</style>
