---
import SiteNav from "../components/SiteNav.astro";
import "../styles/global.css";

const { pageTitle, logo, bodyClass } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body class={bodyClass}>
    <SiteNav logo={logo} />
    <slot />
  </body>
</html>
